<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="高校帮webUI测试" parallel="tests" preserve-order="true" thread-count="1">
<listeners>     
	<listener class-name="com.kkb.test.util.reporter.HTMLReporter" />
		<listener class-name="com.kkb.test.util.reporter.JUnitXMLReporter" />
	
	<listener class-name="com.kkb.test.util.reporter.TestngListener" />
</listeners>

  

	    <test name="厦门海洋大学-视频播放3">
	    <classes>
	      <class name="com.kkb.test.steps.pc.gxb.tsk.CoursePlayStep3"/>
	            
	    </classes>
	  </test>
</suite> <!-- Suite -->
<!-- 	<test name="华南理工大学|广州学院-视频播放">
	    <classes>
	      <class name="com.kkb.test.steps.pc.gxb.gcu.CoursePlayStep"/>
	    </classes>
	  </test> 

  <test name="个人信息浏览">
    <classes>
      <class name="com.kkb.test.steps.pc.gxb.personcenter.ModifyUserInfoStep"/>
    </classes>
  </test>  -->